/*********
 * Fonts *
 *********/
@font-face {
    font-family: 'Gotham-BlackItalic';
    src: url('../fonts/Gotham-BlackItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Ultra';
    src: url('../fonts/Gotham-Ultra.woff2') format('woff2'),
        url('../fonts/Gotham-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-BoldItalic';
    src: url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'Gotham-BookItalic';
    src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-MediumItalic';
    src: url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('../fonts/Gotham-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamThin';
    src: url('../fonts/GothamThin.woff2') format('woff2'),
        url('../fonts/GothamThin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-ExtraLight';
    src: url('../fonts/Gotham-ExtraLight.woff2') format('woff2'),
        url('../fonts/Gotham-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-UltraItalic';
    src: url('../fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('../fonts/Gotham-UltraItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-ExtraLightItalic';
    src: url('../fonts/Gotham-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Gotham-ExtraLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-ThinItalic';
    src: url('../fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('../fonts/Gotham-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-LightItalic';
    src: url('../fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('../fonts/Gotham-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'F25Executive';
    src: url('../fonts/F25Executive.woff2') format('woff2'),
        url('../fonts/F25Executive.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Variáveis */
$ease-curve: cubic-bezier(0.13, 0.68, 1, 1);
$anim-speed: 0.3s;
$anim-speed-alt: 0.4s;
$anim-speed-slow: 1s;
$font-menu: 'Gotham-Book';
$font-name: 'Times', 'Times New Roman';
$font-btn: 'Gotham-Bold';
$font-author: 'Times', 'Times New Roman';
$font-author-prefacio: 'F25Executive';
$font-default: 'Gotham-Medium';
$font-title: 'F25Executive';
$font-cta: 'Gotham-Book'; /* A original, Bold, não apresenta o mesmo resultado que no layout, por isso substituída. */
$font-footer-title: 'Gotham-Bold';
$font-footer: 'TimesNewRomanPS ItalicMT', 'Times New Roman';
$font-size-menu: 16px; /* 6.72 */
$font-size-menu-expanded: 28px;
$font-size-name: 14px; /* 7.65 */
$font-size-btn: calc(9.5px * 1.5); /* 9.5 */
$font-size-author: 16px; /* 11 */
$font-size-author-prefacio: 16px; /* 11 */
$font-size-default: calc(12px * 1.5); /* 12 */
$font-size-title: 24px; /* 12 */
$font-size-cta: 20px; /* 13.23 */
$font-size-cta2: calc(15px * 1.5); /* 15 */
$white: #e9e4d6 !important;
$black: #23201c !important;
$gray: #656464 !important;
$dark-gray: #3c3c3c !important;
$yellow-gray: #76726c !important;

/* Scroll Reveal */
.module {
  opacity: 0;
  visibility: hidden;
}
.come-in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(150px);
  animation: come-in $anim-speed $ease-curve forwards;
}
.fixedpos.come-in {
  transform: translateY(0);
  animation-duration: $anim-speed-slow;
}
.inverted.come-in {
  transform: translateY(-150px);
}
.come-in:nth-child(odd) {
  animation-duration: $anim-speed-alt; /* So they look staggered */
}
.already-visible {
  transition: opacity $anim-speed-slow $ease-curve;
  opacity: 1;
  visibility: visible;
  animation: none;
  transform: none;
}

/* Globais */
html, body {
  width: 100%;
  overflow-x: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}
body {
  color: $black;
  background: url('../img/bg.jpg') no-repeat center center;
  background-size: auto 150%;
  font-size: $font-size-default;
}
section {
  padding-top: 120px;
  padding-bottom: 165px;
}
#section-top {
  padding-top: 0;
}
section h2 {
  letter-spacing: 4px;
  margin-bottom: 65px;
  line-height: 130%;
  font-family: $font-title;
}
h2 {
  font-size: $font-size-title;
  text-transform: uppercase;
  text-decoration: underline;
  color: $black;
  letter-spacing: 2px;
}
p {
  font-family: $font-default;
  font-size: $font-size-title;
  color: $black;
  font-style: italic;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  border:none;
  border-top: 1px dashed $yellow-gray;
  background: rgba(0,0,0,0);
  height: 1px;
  width: 100%;
}
a {
  color: inherit;
}
#content {
  position: relative;
  background: url('../img/bg.jpg') no-repeat center center;
  background-size: auto 150%;
  width: 100%;
}
a:focus,
button:focus,
input[type="submit"]:focus {
  outline: none;
}
.block {
  position: relative;
  display: block;
}
body::selection {
  background: $white;
}
img {
  max-width: 100%;
  height: auto;
}
.btn {
  font-weight: bold;
  font-size: $font-size-btn;
  font-family: $font-btn;
  color: $black;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
  padding: 0.6rem 0.6rem;
}
.btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s $ease-curve 0s;
  transition: all 0.15s $ease-curve 0s;
}
.btn:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.close {
  color: $yellow-gray;
  font-family: Arial;
}
textarea {
   resize: none;
}

/* Brilho sutil no logo */
.title img {
  -webkit-mask-image: -webkit-linear-gradient(165deg,rgba(0,0,0,1) 30%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,1) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

/* Navegação */
.navbar * {
    transition: all 0.001s, background-color 0.0001s ease-out;
}
#navbarNav {
    transition: all 0.075s, background-color 0.0001s ease-out;
}
.navbar {
  z-index: 2500;
  background-color: rgba(0,0,0,0);
  position: fixed;
  width: 100%;
  padding: 0;
}
.navbar-nav .nav-link {
  color: $white;
  font-family: $font-menu;
  font-size: $font-size-menu;
  -webkit-transition: all 0.15s $ease-curve 0s;
  transition: all 0.15s $ease-curve 0s;
}
.nav-link,
.nav-link:hover,
.nav-link:focus,
.nav-link:active
.btn,
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s $ease-curve 0s;
  transition: all 0.15s $ease-curve 0s;
}
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.collapse.show {
  background-color: rgba(60,60,60,0.9);
  height: 100vh;
  width: 100%;
  padding: 12px;
  position: fixed;
}
.navbar-collapse.show .navbar-nav {
  top: calc(50vh - 175px);
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: block;
}
.navbar-collapse.show .navbar-nav * {
  font-size: $font-size-menu-expanded !important;
}
.navbar-toggler {
  top: 18px;
  right: 4px;
  z-index: 2500;
}
.navbar-toggler[aria-expanded="true"] {
  position: fixed;
}
.hamburger .hamburger-inner,
.hamburger .hamburger-inner:after,
.hamburger .hamburger-inner:before {
    background-color: #e9e4d6;
    transition: all 0.3s ease-in-out;
}
.scrolled.hamburger .hamburger-inner,
.scrolled.hamburger .hamburger-inner:after,
.scrolled.hamburger .hamburger-inner:before {
    background-color: #23201c;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger--stand[aria-expanded=true] .hamburger-inner {
    background-color: transparent;
}
.scrolled#navbarNav {
  -webkit-box-shadow: inset 0 65px 50px -20px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0 65px 50px -20px rgba(0,0,0,.25);
  box-shadow: inset 0 65px 50px -20px rgba(0,0,0,.25);
}
#navbarNav.collapse {
  z-index: 2000;
  height: 75px;
}
#navbarNav.show {
  height: 100vh;
}

/* Seção do Topo */
#section-top {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#section-top .container {
  top: 25vh;
  transition: top $anim-speed $ease-curve;
  @media (max-height: 600px) {
    top: 17vh;
  }
  @media (max-height: 500px) {
    top: 10vh;
  }
}
.title {
  width: 100%;
  max-width: 557px;
  position: relative;
  margin: 0 auto;
}

#section-top .scroll-arrow {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 14px);
  clear: both;
  height: 27px;
  width: 27px;
  animation: pulse-dot 1s $ease-curve -.4s infinite;
}
#section-top .scroll-arrow img {
  transition: all $anim-speed $ease-curve;
}
#section-top .scroll-arrow:hover,
#section-top .scroll-arrow:hover img,
#section-top .scroll-arrow img:hover {
  transform: scale(1.3);
}
#section-top .scroll-arrow:focus,
#section-top .scroll-arrow:focus img,
#section-top .scroll-arrow img:focus {
  transform: scale(0.85);
}
#video-bg {
  z-index: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}
.video-cta, .video-cta:hover, .video-cta:active, .video-cta:focus {
  bottom: 15%;
  left: calc(50% - 200px);
  position: absolute;
  color: $white;
  font-family: $font-cta;
  text-transform: uppercase;
  font-size: $font-size-cta;
  text-decoration: none;
  transition: all $anim-speed $ease-curve;
}
.video-cta img {
  transform: scale(0.9);
  transition: all 0.2s $ease-curve;
}
.video-cta:hover {
  transform: scale(1.1);
}
.video-cta:active {
  transform: scale(0.9);
}
.video-cta:hover img {
  transform: scale(1);
  padding-right: 4px;
  animation: pulse-dot $anim-speed-slow $ease-curve -.4s infinite;
}
.video-cta:active img {
  transform: scale(0.9);
  padding-right: 0px;
  animation: pulse-dot 0s $ease-curve -.4s infinite;
}

/* Depoimentos */
.video-container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 56%;
}
/*.video-thumb:hover {
  background-size: 115%;
}*/
.video-thumb {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  transition: background-size $anim-speed-slow $ease-curve;
}
.video-thumb-overlay {
  transition: all $anim-speed $ease-curve;
  width: 100%;
  height: 100%;
  z-index: 5;
  visibility: visible;
  opacity: 0.85;
  background-color: $dark-gray;
  position: absolute;
  top: 0px;
}
.video-container:hover .video-thumb-overlay {
  opacity: 0;
  visibility: hidden;
}
.play-button {
  position: relative;
  display: inline-block;
  z-index: 80;
  top: calc(50% - 45px);
  animation: pulse-dot 0s $ease-curve -.4s infinite;
}
.video-container .video-thumb-img {
  transform: scale(1.15);
  transition: all $anim-speed $ease-curve;
}
.video-container:active .video-thumb-img {
  transform: scale(1);
}
.video-container:hover .play-button,
.video-container:active .play-button {
  transform: scale(1.15);
  animation: pulse-dot 1.5s $ease-curve -.4s infinite;
}

/*.video-thumb img:active,
.video-thumb img:focus {
  transform: scale(0.85);
}*/
.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube .video-thumb-img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}
.youtube .video-thumb-img,
.youtube .play-button {
  cursor: pointer;
}
.youtube .video-thumb-img,
.youtube iframe {
  position: absolute;
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.video-container p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  text-decoration: underline;
  font-family: $font-name;
  font-size: $font-size-name;
  color: $white;
  letter-spacing: 2px;
  z-index: 15;
}

/* Owl Carousel Geral */
.owl-prev, .owl-next {
  top: 33%;
  position: absolute;
  font-size: $font-size-menu-expanded;
  color: $gray;
}
.owl-prev {
  left: -25px;
}
.owl-next {
  right: -25px;
}

/* Livros */
h4 {
  font-family: 'F25Executive';
  font-size:1.1rem;
  margin-top: 10px;
}
.owl-livros .item {
  padding: 12px;
  position: relative;
  display: block;
  margin: 0 auto;
}
.owl-livros .item .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px dotted $yellow-gray;
}
.author {
  font-family: $font-author-prefacio;
  font-size: $font-size-author-prefacio;
  text-align: center;
}
.book-frame {
  padding: 5px;
  margin-bottom: 15px;
}
.owl-livros .item img {
  /*box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.55);*/
  /*box-shadow: 18px 20px 16px 3px rgba(0,0,0,0.19);*/
  box-shadow: 6px 7px 6px 2px rgba(0,0,0,.19);
  margin-bottom: 9px;
  transition: all $anim-speed $ease-curve;
  width: 100%;
  max-width: 206px;
  height: auto;
}
.owl-livros .item:hover img {
  transform: scale(1.05);
}
.owl-livros .col-md-4 .row {
  display: flex;
  align-items: center;
}

/* Repercussão */
.featherlight.featherlight-content {
    padding: 0;
    border-bottom: 0;
}
#owl-midia .item {
    width: 100%;
}
#owl-midia .midia-foto {
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 340px;
  height: 230px;
  max-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-size $anim-speed-slow $ease-curve !important;
}
#owl-midia * {
  transition: background-size $anim-speed-slow $ease-curve !important;
}
#owl-midia .midia-foto:hover {
  background-size: auto 120%;
}
.featherlight .featherlight-content {
  margin: 0;
  padding: 0;
}
.featherlight .featherlight-close-icon,
#projeto-video-wrapper .close {
  background: none;
  color: $white;
  top: 10px;
  right: 10px;
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  opacity: 1;
  top: 7px;
  font-weight: normal;
  text-shadow: 0 0 5px $black;
}
.featherlight-previous {
    left: 0px;
    height: 100%;
}
.featherlight-next {
    right: 0px;
    height: 100%;
}
.featherlight .featherlight-content {
  border-bottom: 0;
}
.featherlight-next:hover, .featherlight-previous:hover {
  background: transparent;
}
.featherlight-next, .featherlight-previous {
  top: 0px;
}
.featherlight-next span, .featherlight-previous span {
  text-shadow: 0 0 5px $black;
  color: $white;
}
.featherlight-next:hover span, .featherlight-previous:hover span {
  animation: pulse-dot 1s $ease-curve -.4s infinite;
}

/* Owl Carousel Centralizar itens avulsos */
.owl-item.active.center {
  display: block;
}

/* Owl Carousel Fix Height */
.owl-stage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.owl-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
}

/* Onde Doar */
#doar p {
  color: $black;
  font-family: $font-footer;
  font-size: $font-size-cta;
  font-weight: normal;
  margin-bottom: 30px;

}
h2.highlight {
  color: $white;
  height: 60px;
  padding-top: 16px;
  background: url('../img/text-highlight-01.png') no-repeat center center;
  background-size: contain;
}
a.highlight {
  color: $white;
  padding: 18px;
  background: url('../img/text-highlight-02.png') no-repeat center center;
  background-size: contain;
}

/* Rodapé */
footer * {
  color: $gray;
}
footer {
  padding-top: 95px;
  padding-bottom: 100px;
}
footer img {
  margin-bottom: 50px;
}
footer h2 {
  margin-bottom: 65px;
  font-size: $font-size-cta2;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-footer-title;
}
footer a, footer a:hover {
  text-decoration: underline;
  color: inherit !important;
}
footer .brands a,
footer .brands a:hover {
  text-decoration: none;
}

/* Lightbox / Modal */
.modal-body {
  padding: 0px;
  border: none;
  box-shadow: none !important;
}
@media only screen and (max-width: 768px) {
  /*#section-top {
    max-height: 640px;
  }*/
  .video-cta {
    margin-top: 65px;
  }
  section {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

/* Contato modal */
.modal-content {
  /*background-color: rgba(234, 230, 218, 0.5);*/
  background-color: $white;
  background: url('../img/bg_contato.jpg') no-repeat center center;
  background-size: cover;
  font-size: $font-size-default;
  box-shadow: none;
  border-radius: 0;
  font-family: $font-author;
  padding: 15px;
  top: 60px;
  z-index: 500;
}
.model-content .modal-body {
  box-shadow: none !important;
}
.modal-title {
  font-family: $font-title;
  color: $black;
}
.modal-body {
  font-family: $font-author;
}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 100%;
  width: calc(100% - 2em);
  vertical-align: top;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 16px 0px;
  width: 60%;
  border: none;
  border-radius: 0;
  background: transparent;
  color: $black;
  font-family: $font-author;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}
.input__label {
  display: inline-block;
  float: right;
  width: 40%;
  color: $black;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: $font-size-menu;
  width: 100%;
  padding: 16px 0 4px 0;
}
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.icon {
  color: $black;
  font-size: 150%;
}
.input--haruki {
  margin: 12px;
}
.input__field--haruki {
  width: 100%;
  background: transparent;
  color: $black;
  font-size: $font-size-menu;
}
.input__label--haruki {
  position: absolute;
  width: 100%;
  text-align: left;
  pointer-events: none;
  font-size: $font-size-menu;
}
.input__label-content--haruki {
  transition: all 0.3s;
}
.input__label--haruki::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height:1px;
  background: $yellow-gray;
  transition: all 0.3s;
}
.input__label--haruki::after {
  bottom: 0;
}
.textarea.input__label--haruki::after {
  bottom: -24px;
}
.input__label--haruki .input__label-content--haruki {
  opacity: 0;
}
.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
  transform: translate3d(0, -28px, 0);
  opacity: 1;
}
.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
  transform: translate3d(0, 0.5em, 0);
  opacity: 1;
}

/* Tela de carregamento */
#loading {
  background-color: $white;
  background: url('../img/bg.jpg') no-repeat center center;
  background-size: cover;
  font-size: $font-size-default;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  position: absolute;
  animation: zoom-in 10s $ease-curve infinite;
  transition: background-size $anim-speed-slow $ease-curve;
}
.loading-container {
  top: 50%;
  transform: translateY(-50%);
  position:relative;
  margin:0 auto;
  width: 100%;
}
.book {
  top: 50%;
  transform: translateY(-50%);
  position:relative;
  margin:0 auto;
  border:3px solid $black;
  width:100px;
  height:60px;
}
.book__page{
  position:absolute;
  left:50%;
  top:-3px;
  margin:0 auto;
  border-top:3px solid $black;
  border-bottom:3px solid $black;
  border-right:3px solid $black;
  background:$white;
  width:50px;
  height:60px;
  transform-origin:0% 50%;
  animation:flip 1.2s infinite linear;
  animation-fill-mode:forwards;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      z-index:-$i;
      animation-delay:0.2s*$i;
    }
  }
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

/* Vídeo FullScreen do Projeto */
#projeto-video-wrapper {
  position: fixed;
  display: none;
  transition: all 0.15s;
  z-index: 8500;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#projeto-video-wrapper iframe {
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#projeto-video-wrapper .close {
  z-index: 1100;
  top: 8px;
  right: 78px;
  position: fixed;
}

/* Animações */
@keyframes come-in {
  to { transform: translateY(0); opacity: 1; visibility: visible; }
}
@keyframes zoom-in {
  from { background-size: 150%; },
  to { background-size: 200%; }
}
@keyframes pulse-dot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes flip {
  0% {
      transform: perspective( 600px )
      rotateY( -0deg );
  }
  20% {
    background:darken(#e9e4d6,10%);
  }
  29.9% {
      background:darken(#e9e4d6,10%);
  }
  30% {
      transform: perspective( 200px )
      rotateY( -90deg );
      background:#e9e4d6;
  }
  54.999% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  60% {
    transform: perspective( 200px )
    rotateY( -180deg );
    background:#e9e4d6;
  }
  100% {
    transform: perspective( 200px )
    rotateY( -180deg );
    background:#e9e4d6;
  }
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}